<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.isoftstone.common.task.mapper.VisuaSqlExampleMapper" >
  <resultMap id="BaseResultMap" type="com.isoftstone.common.plugins.visua.VisuaSqlExample" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="business_code" property="businessCode" jdbcType="VARCHAR" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="sql_status" property="sqlStatus" jdbcType="INTEGER" />
    <result column="business_type" property="businessType" jdbcType="INTEGER" />
    <result column="sql_type" property="sqlType" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="output_data" property="outputData" jdbcType="LONGVARCHAR" />
    <result column="input_data" property="inputData" jdbcType="LONGVARCHAR" />
    <result column="support_to_do" property="supportToDo" jdbcType="LONGVARCHAR" />
    <result column="udf_to_do" property="udfToDo" jdbcType="LONGVARCHAR" />
    <result column="sql_templates" property="sqlTemplates" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, business_code, create_user, sql_status, business_type, sql_type, create_date, 
    update_date, output_data, input_data, sql_templates,support_to_do,udf_to_do
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from visua_sql_example
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <select id="getByBusinessCode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from visua_sql_example
    where business_code = #{businesscode,jdbcType=VARCHAR}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from visua_sql_example
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.isoftstone.common.plugins.visua.VisuaSqlExample" >
    insert into visua_sql_example (id, title, business_code, 
      create_user, sql_status, business_type, 
      sql_type, create_date, update_date, 
      output_data, input_data, sql_templates,support_to_do,udf_to_do
      )
    values (#{id,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{businessCode,jdbcType=VARCHAR}, 
      #{createUser,jdbcType=VARCHAR}, #{sqlStatus,jdbcType=INTEGER}, #{businessType,jdbcType=INTEGER}, 
      #{sqlType,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{outputData,jdbcType=LONGVARCHAR}, #{inputData,jdbcType=LONGVARCHAR}, #{sqlTemplates,jdbcType=LONGVARCHAR}
      , #{supportToDo,jdbcType=LONGVARCHAR},#{udfToDo,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.isoftstone.common.plugins.visua.VisuaSqlExample" >
    insert into visua_sql_example
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="businessCode != null" >
        business_code,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
      <if test="sqlStatus != null" >
        sql_status,
      </if>
      <if test="businessType != null" >
        business_type,
      </if>
      <if test="sqlType != null" >
        sql_type,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="outputData != null" >
        output_data,
      </if>
      <if test="inputData != null" >
        input_data,
      </if>
      <if test="sqlTemplates != null" >
        sql_templates,
      </if>
      <if test="supportToDo != null" >
        supportToDo,
      </if>
      <if test="udfToDo != null" >
        udfToDo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="businessCode != null" >
        #{businessCode,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="sqlStatus != null" >
        #{sqlStatus,jdbcType=INTEGER},
      </if>
      <if test="businessType != null" >
        #{businessType,jdbcType=INTEGER},
      </if>
      <if test="sqlType != null" >
        #{sqlType,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="outputData != null" >
        #{outputData,jdbcType=LONGVARCHAR},
      </if>
      <if test="inputData != null" >
        #{inputData,jdbcType=LONGVARCHAR},
      </if>
      <if test="sqlTemplates != null" >
        #{sqlTemplates,jdbcType=LONGVARCHAR},
      </if>
      <if test="supportToDo != null" >
        #{supportToDo,jdbcType=LONGVARCHAR},
      </if>
       <if test="udfToDo != null" >
        #{udfToDo,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.isoftstone.common.plugins.visua.VisuaSqlExample" >
    update visua_sql_example
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="businessCode != null" >
        business_code = #{businessCode,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="sqlStatus != null" >
        sql_status = #{sqlStatus,jdbcType=INTEGER},
      </if>
      <if test="businessType != null" >
        business_type = #{businessType,jdbcType=INTEGER},
      </if>
      <if test="sqlType != null" >
        sql_type = #{sqlType,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="outputData != null" >
        output_data = #{outputData,jdbcType=LONGVARCHAR},
      </if>
      <if test="inputData != null" >
        input_data = #{inputData,jdbcType=LONGVARCHAR},
      </if>
      <if test="sqlTemplates != null" >
        sql_templates = #{sqlTemplates,jdbcType=LONGVARCHAR},
      </if>
       <if test="supportToDo != null" >
        support_to_do = #{supportToDo,jdbcType=LONGVARCHAR},
      </if>
       <if test="udfToDo != null" >
        udf_to_do = #{udfToDo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.isoftstone.common.plugins.visua.VisuaSqlExample" >
    update visua_sql_example
    set title = #{title,jdbcType=VARCHAR},
      business_code = #{businessCode,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      sql_status = #{sqlStatus,jdbcType=INTEGER},
      business_type = #{businessType,jdbcType=INTEGER},
      sql_type = #{sqlType,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      output_data = #{outputData,jdbcType=LONGVARCHAR},
      input_data = #{inputData,jdbcType=LONGVARCHAR},
      sql_templates = #{sqlTemplates,jdbcType=LONGVARCHAR},
      support_to_do = #{supportToDo,jdbcType=LONGVARCHAR},
      udf_to_do = #{udfToDo,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>